.mac-book-pro1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mac-book-pro1-mac-book-pro1 {
  width: 100%;
  height: 6169px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1-rectangle51 {
  top: 1688px;
  left: 120px;
  width: 362px;
  height: 380px;
  position: absolute;
  border-color: rgba(196, 196, 196, 1);
  border-style: solid;
  border-width: 2px;
}
.mac-book-pro1-rectangle7 {
  top: 816px;
  left: 602px;
  width: 718px;
  height: 568px;
  position: absolute;
}
.mac-book-pro1-francescatosoliniw1re0l-bb-r-eounsplash1 {
  top: 816px;
  left: 602px;
  width: 718px;
  height: 568px;
  position: absolute;
}
.mac-book-pro1-rectangle8 {
  top: 908px;
  left: 120px;
  width: 616px;
  height: 384px;
  position: absolute;
}
.mac-book-pro1-group73 {
  top: 971px;
  left: 163px;
  width: 529px;
  height: 258px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1-text {
  color: rgba(0, 0, 0, 1);
  width: 529px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 56px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text005 {
  top: 138px;
  color: rgba(0, 0, 0, 1);
  width: 529px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text012 {
  top: 1589px;
  left: 120px;
  color: rgba(0, 0, 0, 1);
  width: 426px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-frame {
  top: 1815px;
  left: 261px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.mac-book-pro1-rectangle21 {
  top: 2119px;
  left: 120px;
  width: 362px;
  height: 288px;
  position: absolute;
}
.mac-book-pro1-frame1 {
  top: 2165px;
  left: 261px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.mac-book-pro1-rectangle19 {
  top: 1688px;
  left: 525px;
  width: 390px;
  height: 296px;
  position: absolute;
}
.mac-book-pro1-rectangle22 {
  top: 2027px;
  left: 530px;
  width: 380px;
  height: 386px;
  position: absolute;
  border-color: rgba(196, 196, 196, 1);
  border-style: solid;
  border-width: 2px;
}
.mac-book-pro1-frame2 {
  top: 2157px;
  left: 680px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.mac-book-pro1-rectangle20 {
  top: 1691px;
  left: 958px;
  width: 362px;
  height: 380px;
  position: absolute;
  border-color: rgba(196, 196, 196, 1);
  border-style: solid;
  border-width: 2px;
}
.mac-book-pro1-frame3 {
  top: 2166px;
  left: 1099px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.mac-book-pro1-rectangle81 {
  top: 2618px;
  left: 120px;
  width: 688px;
  height: 568px;
  position: absolute;
}
.mac-book-pro1-text014 {
  top: 2862px;
  left: 840px;
  color: rgba(0, 0, 0, 1);
  width: 482px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text016 {
  top: 2710px;
  left: 840px;
  color: rgba(0, 0, 0, 1);
  width: 495px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 56px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-group82 {
  top: 3022px;
  left: 840px;
  width: 210px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(36, 77, 77, 1);
}
.mac-book-pro1-text018 {
  top: 16px;
  left: 40px;
  color: rgba(255, 255, 255, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-rectangle36 {
  top: 3288px;
  left: 0px;
  width: 1440px;
  height: 771px;
  position: absolute;
}
.mac-book-pro1-group66 {
  top: 3391px;
  left: 120px;
  width: 1205px;
  height: 112px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1-text020 {
  color: rgba(238, 238, 238, 1);
  width: 585px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 56px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-group65 {
  top: 32px;
  left: 718px;
  width: 487px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1-text025 {
  color: rgba(238, 238, 238, 1);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text027 {
  left: 79px;
  color: rgba(238, 238, 238, 1);
  width: 176px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text029 {
  left: 289px;
  color: rgba(238, 238, 238, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text031 {
  left: 396px;
  color: rgba(238, 238, 238, 1);
  width: 91px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-rectangle25 {
  top: 3557px;
  left: 120px;
  width: 483px;
  height: 400px;
  position: absolute;
}
.mac-book-pro1-rectangle26 {
  top: 3557px;
  left: 633px;
  width: 482px;
  height: 400px;
  position: absolute;
}
.mac-book-pro1-rectangle27 {
  top: 3557px;
  left: 1145px;
  width: 474px;
  height: 400px;
  position: absolute;
}
.mac-book-pro1-rectangle31 {
  top: 5329px;
  left: 0px;
  width: 1440px;
  height: 840px;
  position: absolute;
}
.mac-book-pro1-rectangle32 {
  top: 5412px;
  left: 120px;
  width: 1200px;
  height: 289px;
  position: absolute;
}
.mac-book-pro1-group84 {
  top: 5605px;
  left: 152px;
  width: 513px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1-rectangle34 {
  top: 3px;
  left: 376px;
  width: 134px;
  height: 58px;
  position: absolute;
}
.mac-book-pro1-text033 {
  top: 19px;
  left: 400px;
  color: rgba(255, 255, 255, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text035 {
  top: 16px;
  left: 24px;
  color: rgba(134, 134, 134, 1);
  width: 188px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text037 {
  top: 5444px;
  left: 152px;
  color: rgba(74, 72, 72, 1);
  width: 343px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-group83 {
  top: 5819px;
  left: 120px;
  width: 1045px;
  height: 230px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1-group75 {
  top: 0px;
  left: 441px;
  width: 133px;
  height: 230px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1-text039 {
  color: rgba(239, 239, 239, 1);
  width: 133px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text041 {
  top: 82px;
  color: rgba(239, 239, 239, 1);
  width: 133px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text043 {
  top: 120px;
  color: rgba(239, 239, 239, 1);
  width: 133px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text045 {
  top: 158px;
  color: rgba(239, 239, 239, 1);
  width: 133px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text047 {
  top: 196px;
  color: rgba(239, 239, 239, 1);
  width: 133px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-group77 {
  top: 0px;
  left: 672px;
  width: 133px;
  height: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1-text049 {
  top: 82px;
  color: rgba(239, 239, 239, 1);
  width: 133px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text051 {
  top: 120px;
  color: rgba(239, 239, 239, 1);
  width: 133px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text053 {
  top: 158px;
  color: rgba(239, 239, 239, 1);
  width: 133px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text055 {
  color: rgba(239, 239, 239, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-group78 {
  top: 0px;
  left: 912px;
  width: 133px;
  height: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1-text057 {
  top: 82px;
  color: rgba(239, 239, 239, 1);
  width: 133px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text059 {
  top: 120px;
  color: rgba(239, 239, 239, 1);
  width: 133px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text061 {
  top: 158px;
  color: rgba(239, 239, 239, 1);
  width: 133px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text063 {
  color: rgba(239, 239, 239, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text065 {
  color: rgba(239, 239, 239, 1);
  width: 343px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text067 {
  top: 96px;
  color: rgba(239, 239, 239, 1);
  width: 307px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text072 {
  top: 5508px;
  left: 152px;
  color: rgba(39, 39, 39, 1);
  width: 759px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-rectangle35 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 714px;
  position: absolute;
}
.mac-book-pro1-rectangle1 {
  top: 0px;
  left: 705px;
  width: 735px;
  height: 560px;
  position: absolute;
}
.mac-book-pro1-norbertlevajsicso-tj92kux-hlsunsplash1 {
  top: 0px;
  left: 705px;
  width: 996px;
  height: 572px;
  position: absolute;
}
.mac-book-pro1-rectangle55 {
  top: 0px;
  left: 705px;
  width: 735px;
  height: 572px;
  position: absolute;
}
.mac-book-pro1-rectangle42 {
  top: 108px;
  left: 0px;
  width: 1452px;
  height: 606px;
  opacity: 0.40;
  position: absolute;
}
.mac-book-pro1-group90 {
  top: 634px;
  left: 700px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1-ellipse813 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
}
.mac-book-pro1-down1 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.mac-book-pro1-text074 {
  top: 180px;
  left: 120px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 56px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text079 {
  top: 324px;
  left: 120px;
  color: rgba(255, 255, 255, 1);
  width: 441px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text081 {
  top: 48px;
  left: 120px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text083 {
  top: 66px;
  left: 645px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-rectangle43 {
  top: 89px;
  left: 653px;
  width: 33px;
  height: 2px;
  position: absolute;
}
.mac-book-pro1-text085 {
  top: 66px;
  left: 725px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text087 {
  top: 66px;
  left: 831px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text089 {
  top: 66px;
  left: 958px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-group56 {
  top: 58px;
  left: 1084px;
  width: 103px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1-text091 {
  top: 8px;
  left: 8px;
  color: rgba(36, 77, 77, 1);
  width: 87px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-group57 {
  top: 58px;
  left: 1211px;
  width: 109px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(36, 77, 77, 1);
}
.mac-book-pro1-text093 {
  top: 8px;
  left: 8px;
  color: rgba(255, 255, 255, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-group71 {
  top: 4162px;
  left: 120px;
  width: 1200px;
  height: 962px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1-text095 {
  color: rgba(0, 0, 0, 1);
  width: 426px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text097 {
  top: 486px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text099 {
  top: 658px;
  left: 410px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text101 {
  top: 830px;
  left: 820px;
  color: rgba(0, 0, 0, 1);
  width: 287px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text103 {
  top: 550px;
  color: rgba(0, 0, 0, 1);
  width: 304px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text108 {
  top: 722px;
  left: 410px;
  color: rgba(0, 0, 0, 1);
  width: 304px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text113 {
  top: 894px;
  left: 820px;
  color: rgba(0, 0, 0, 1);
  width: 304px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-rectangle28 {
  top: 102px;
  left: 0px;
  width: 376px;
  height: 344px;
  position: absolute;
}
.mac-book-pro1-rectangle29 {
  top: 274px;
  left: 410px;
  width: 376px;
  height: 344px;
  position: absolute;
}
.mac-book-pro1-rectangle30 {
  top: 446px;
  left: 820px;
  width: 380px;
  height: 344px;
  position: absolute;
}
.mac-book-pro1-group70 {
  top: 0px;
  left: 1033px;
  width: 167px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1-text118 {
  color: rgba(133, 133, 133, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-east24px1 {
  top: 4px;
  left: 127px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.mac-book-pro1-rectangle37 {
  top: 3460px;
  left: 845px;
  width: 33px;
  height: 2px;
  position: absolute;
}
.mac-book-pro1-aaronhubero-m-oxw-v6m-l-qunsplash1 {
  top: 2618px;
  left: 120px;
  width: 688px;
  height: 568px;
  position: absolute;
}
.mac-book-pro1-nastuhabootalebiy-wwob8kw-o-ckunsplash1 {
  top: 3557px;
  left: 120px;
  width: 483px;
  height: 400px;
  position: absolute;
}
.mac-book-pro1-francescatosoliniw1re0l-bb-r-eounsplash2 {
  top: 3544px;
  left: 619px;
  width: 510px;
  height: 425px;
  position: absolute;
}
.mac-book-pro1-ralphravikayden-fqqi-av-jejtounsplash1 {
  top: 3557px;
  left: 1145px;
  width: 601px;
  height: 400px;
  position: absolute;
}
.mac-book-pro1-houcinencib-b4-tj-xn-i0y2cunsplash1 {
  top: 4264px;
  left: 120px;
  width: 376px;
  height: 352px;
  position: absolute;
}
.mac-book-pro1-mask-group {
  top: 4436px;
  left: 532px;
  width: 376px;
  height: 344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(196, 196, 196, 1);
}
.mac-book-pro1-maxilienerwise-yv-wjoxhnj94unsplash1 {
  top: -46px;
  left: -139px;
  width: 654px;
  height: 436px;
  position: absolute;
}
.mac-book-pro1-mask-group1 {
  top: 4608px;
  left: 940px;
  width: 380px;
  height: 344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(196, 196, 196, 1);
}
.mac-book-pro1-craigmckayjm-u-rdhtm7-ngunsplash1 {
  top: 0px;
  left: -5px;
  width: 391px;
  height: 451px;
  position: absolute;
}
.mac-book-pro1-rectangle47 {
  top: 3573px;
  left: 136px;
  width: 178px;
  height: 64px;
  position: absolute;
}
.mac-book-pro1-rectangle48 {
  top: 3560px;
  left: 635px;
  width: 152px;
  height: 63px;
  position: absolute;
}
.mac-book-pro1-rectangle49 {
  top: 3573px;
  left: 1163px;
  width: 152px;
  height: 63px;
  position: absolute;
}
.mac-book-pro1-text120 {
  top: 1904px;
  left: 604px;
  color: rgba(242, 242, 242, 1);
  width: 232px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text122 {
  top: 1927px;
  left: 120px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 56px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text127 {
  top: 1927px;
  left: 958px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 56px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text132 {
  top: 2269px;
  left: 530px;
  color: rgba(0, 0, 0, 1);
  width: 380px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 56px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text137 {
  top: 2269px;
  left: 120px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 56px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text142 {
  top: 2270px;
  left: 958px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 56px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-rectangle50 {
  top: 5412px;
  left: 927px;
  width: 393px;
  height: 289px;
  position: absolute;
}
.mac-book-pro1-rectangle3 {
  top: 508px;
  left: 120px;
  width: 545px;
  height: 64px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
}
.mac-book-pro1-text147 {
  top: 524px;
  left: 136px;
  color: rgba(134, 134, 134, 1);
  width: 262px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-group85 {
  top: 511px;
  left: 547px;
  width: 115px;
  height: 58px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(36, 77, 77, 1);
}
.mac-book-pro1-text149 {
  top: 16px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 67px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text151 {
  top: 3589px;
  left: 144px;
  color: rgba(44, 44, 44, 1);
  width: 162px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text153 {
  top: 3576px;
  left: 630px;
  color: rgba(44, 44, 44, 1);
  width: 162px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text155 {
  top: 3589px;
  left: 1158px;
  color: rgba(44, 44, 44, 1);
  width: 162px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-mask-group2 {
  top: 5412px;
  left: 927px;
  width: 393px;
  height: 289px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(196, 196, 196, 1);
}
.mac-book-pro1-karisheat-o-vmshavtoounsplash2 {
  top: -490px;
  left: -93.52410888671875px;
  width: 580px;
  height: 875px;
  position: absolute;
}
.mac-book-pro1-group87 {
  top: 3813px;
  left: 120px;
  width: 380px;
  height: 144px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1-text157 {
  top: 16px;
  left: 16px;
  color: rgba(44, 44, 44, 1);
  width: 206px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text159 {
  top: 56px;
  left: 16px;
  color: rgba(44, 44, 44, 1);
  width: 240px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-group86 {
  top: 96px;
  left: 16px;
  width: 206px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1-text161 {
  left: 114px;
  color: rgba(44, 44, 44, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text163 {
  color: rgba(44, 44, 44, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-rectangle511 {
  top: 93px;
  left: 289px;
  width: 91px;
  height: 51px;
  position: absolute;
}
.mac-book-pro1-east24px11 {
  top: 99px;
  left: 314px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.mac-book-pro1-group88 {
  top: 3825px;
  left: 619px;
  width: 380px;
  height: 144px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1-text165 {
  top: 16px;
  left: 16px;
  color: rgba(44, 44, 44, 1);
  width: 206px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text167 {
  top: 56px;
  left: 16px;
  color: rgba(44, 44, 44, 1);
  width: 240px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-group861 {
  top: 96px;
  left: 16px;
  width: 206px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1-text169 {
  left: 114px;
  color: rgba(44, 44, 44, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text171 {
  color: rgba(44, 44, 44, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-rectangle512 {
  top: 93px;
  left: 289px;
  width: 91px;
  height: 51px;
  position: absolute;
}
.mac-book-pro1-east24px12 {
  top: 99px;
  left: 314px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.mac-book-pro1-group89 {
  top: 3813px;
  left: 1145px;
  width: 380px;
  height: 144px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1-text173 {
  top: 16px;
  left: 16px;
  color: rgba(44, 44, 44, 1);
  width: 206px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text175 {
  top: 56px;
  left: 16px;
  color: rgba(44, 44, 44, 1);
  width: 240px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-group862 {
  top: 96px;
  left: 16px;
  width: 206px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1-text177 {
  left: 114px;
  color: rgba(44, 44, 44, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-text179 {
  color: rgba(44, 44, 44, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-rectangle513 {
  top: 93px;
  left: 289px;
  width: 91px;
  height: 51px;
  position: absolute;
}
.mac-book-pro1-east24px13 {
  top: 99px;
  left: 314px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.mac-book-pro1-frame4 {
  top: 1776px;
  left: 680px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.mac-book-pro1-frame5 {
  top: 1815px;
  left: 1099px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.mac-book-pro1-group92 {
  top: 508px;
  left: 705px;
  width: 206px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1-text181 {
  top: 16px;
  left: 64px;
  color: rgba(191, 191, 191, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1-group91 {
  top: 16px;
  left: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro1-ellipse814 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.mac-book-pro1-polygon1 {
  top: 8px;
  left: 24px;
  width: 16px;
  height: 16px;
  position: absolute;
}
